h1{
  color: black;
  font-size: 40px;
}

p{
  color: rgb(10, 10, 10);
  font-size: 20px;
}

#intro_Message{
  text-align: center;
  font-size: 30px;
  font-style: italic;
  color: rgb(241, 91, 3);
}

.card {
  position: center;
  opacity: 0.9;
}
.card:hover{
  border: 4px solid rgb(250, 247, 247);
}

.home-title{
  color: aliceblue;
}
img {
  height: 500px;
}

ul{
  text-transform: capitalize;
}
.btn{
    background: rgb(220, 50, 243);
    color: rgb(4, 19, 19);
}

.btn:hover{
    background: rgba(132, 255, 17, 0.514);
    border: 3px solid rgb(253, 252, 252);
}

.footer-container {
  color: blue;
}