h1{
  color: black;
  font-size: 40px;
}

p{
  color: aliceblue;
  font-size: 20px;
}

.card {
  position: center;
  opacity: 0.9;
}
.home-title{
  color: aliceblue;
}
.btn{
    background: rgb(220, 50, 243);
    color: rgb(4, 19, 19);
}

.btn:hover{
    background: rgba(132, 255, 17, 0.514);
}

.footer-container {
  color: blue;
}