div.gallery {
    margin: 5px;
    border: 1px solid rgb(226, 59, 59);
    width: 180px;
  }
  
div.gallery:hover {
    border: 4px solid #777;
  }
  
div.gallery img {
    width: 100%;
    height: 50%;
    padding: auto;
  }
  
div.desc {
    padding: 10px;
    text-align: auto;
  }

.btn { 
    background: rgb(220, 50, 243);
    color: rgb(4, 19, 19);
}

.btn:hover{
    background: rgba(132, 255, 17, 0.514);
}